@import '~@angular/material/_theming.scss';

@include mat-core();

// default theme:
$primary: mat-palette($mat-pink, 800);
$accent: mat-palette($mat-blue-gray);
$theme: mat-dark-theme($primary, $accent);

@include angular-material-theme($theme);
